/* General CSS */
* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  text-align: center;
  color: black;
  font-family: 'Abel', sans-serif;
  background: white;
  margin: 0;
}
a {
  text-decoration: none;
  color: #007207; /* dark green */
}
a:hover{
  color: #02cc0e;  /* light green */
}
header{
  margin: 0;
  padding: 10px 0 10px 0;
  background: lightgray;
}
h1, h2, h3{
  font-family: 'Exo 2', sans-serif;
}
header h1{
  font-size: 55px;
  margin: 0;
}
header h2{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
header #mainChar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
header svg{
  width: 300px;
  height: 200px;
}
header svg path{
  fill: black;
}
header svg path:hover{
  fill: #007207;
}
#help{
  width: 240px;
  position: relative;
  top: -47px;
  right: -5px;
  padding: 0;
  margin: 0;
  color: #555;
  display: flex;
  align-items: center;
}
#helpText{
  text-align: left;
  padding: 5px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  line-height: 30px;
}
section{
  margin: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#calculator .container{
  padding: 10px;
  border: solid gray 1px;
  background-color: lightgray;
  border-radius: 10px;
  border-style: outset;
}
section#calculator #display{
  width: 355px;
  background-color: white;
  padding: 0;
  margin: 0 auto 10px auto;
  border-style: inset;
}
section#calculator #display #history{
  height: 23px;
  font-size: 18px;
  padding: 4px;
  text-align: left;
}
section#calculator #display #result{
  height: 45px;
  font-size: 30px;
  text-align: right;
  padding: 4px;
}
section#calculator button{
  width: 80px;
  height: 55px;
  padding: 5px;
  margin: 4px;
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  border: outset 1px gray;
  border-radius: 5px;
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
section#calculator button:active{
  color: #02cc0e; /* light green */
  background: rgba(209,209,209,1);
  background: -moz-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(209,209,209,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: linear-gradient(135deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#fefefe', GradientType=1 );
}
section#calculator button#clear{
  width: 172px;
}
footer{
  margin: 10px;
  font-family: 'Oxygen', sans-serif;
}

/* Mobile responsiveness */
@media only screen and (min-width: 1060px) {

}
@media only screen and (max-width: 768px) {
  body{
    margin: 0;
  }
}
@media only screen and (max-width: 620px) {
  header{
    padding: 20px 0 20px 0;
  }
  header h1{
    font-size: 3em;
  }
  header h2{
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 500px){
  header{
    padding: 25px;
  }
  header h1{
    line-height: 0.8em;
    margin-bottom: 10px;
  }
  header h2{
    width: 270px;
    margin: 0 auto 0 auto;
  }
}
