/* General CSS */
* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  text-align: center;
  color: black;
  font-family: 'Abel', sans-serif;
  background: white;
  margin: 0;
}
a {
  text-decoration: none;
  color: #007207; /* dark green */
}
a:hover{
  color: #02cc0e;  /* light green */
}
header{
  margin: 0;
  padding: 10px 0 10px 0;
  background: lightgray;
  position: relative;
}
h1, h2, h3{
  font-family: 'Exo 2', sans-serif;
}
header h1{
  font-size: 55px;
  margin: 0;
}
header h2{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
header #mainChar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
header svg{
  width: 300px;
  height: 200px;
}
header svg path{
  fill: black;
}
header svg path:hover{
  fill: #007207;
}
#help{
  width: 240px;
  position: relative;
  top: -47px;
  right: -5px;
  padding: 0;
  margin: 0;
  color: #555;
  display: flex;
  align-items: center;
}
#help div:first-child{
  color: rgba(0,0,0,0);
  background: #eee;
  border-radius: 0 0 0 100%;
  height: 10px;
  width: 20px;
}
#helpText{
  padding: 5px;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  background: #eee;
  border-radius: 4px;
}
aside{
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: left;
}
aside h4{
  margin: 0;
}
aside table tbody{
  line-height: .92em;
}
aside table tr td:first-child{
  text-align: right;
  padding-right: 4px;
}
aside table tr td:nth-child(2){
  text-align: center;
  font-weight: bold;
  padding-right: 4px;
}
section{
  margin: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#calculator .container{
  padding: 10px;
  border: solid gray 1px;
  background-color: lightgray;
  border-radius: 10px;
  border-style: outset;
  -webkit-box-shadow: 10px 10px 36px -3px rgba(0,0,0,0.47);
  -moz-box-shadow: 10px 10px 36px -3px rgba(0,0,0,0.47);
  box-shadow: 10px 10px 36px -3px rgba(0,0,0,0.47);
}
section#calculator #display{
  width: 355px;
  background-color: white;
  padding: 0;
  margin: 0 auto 10px auto;
  border-style: inset;
}
section#calculator #display #history{
  height: 23px;
  font-size: 18px;
  padding: 4px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
section#calculator #display #result{
  height: 45px;
  font-size: 30px;
  text-align: right;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section#calculator button{
  width: 80px;
  height: 55px;
  padding: 5px;
  margin: 4px;
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  border: outset 1px gray;
  border-radius: 5px;
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
section#calculator button:active{
  color: #02cc0e; /* light green */
  background: rgba(209,209,209,1);
  background: -moz-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(209,209,209,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  background: linear-gradient(135deg, rgba(209,209,209,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#fefefe', GradientType=1 );
}
section#calculator button#clear{
  width: 172px;
}
footer{
  margin: 10px;
  font-family: 'Oxygen', sans-serif;
}

/* Mobile responsiveness */
@media only screen and (max-width: 1280px) and (min-width: 765px){
  section#calculator{
    position: fixed;
    z-index: 1;
    margin: 0;
    left: 20;
    top: 20;
  }
  header{
    padding: 10px 0 10px 450px;
    text-align: left;
  }
  header #mainChar{
    justify-content: left;
    margin-top: 0;
  }
  header svg{
    width: 200px;
    height: 150px;
  }
  #help{
    top: -24px;
    right: -2px;
    width: 260px;
  }
  #helpText{
    padding: 5px;
    font-size: 20px;
    line-height: 25px;
  }
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
  }
}
@media only screen and (max-width: 1140px) and (min-width: 765px){
  header{
    padding-right: 170px;
  }
  header h1{
    font-size: 30px;
    margin-top: 5px;
  }
  header h2{
    font-size: 17px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 765px){
  header{
    padding-left: 429px;
    padding-right: 22px;
    text-align: center;
  }
  header h1{
    font-size: 32px;
  }
  header h1{
    font-size: 32px;
  }
  header #mainChar{
    justify-content: center;
  }
  #help{
    top: -22px;
    width: 200px;
  }
  aside{
    display: none; /* Small screens less likely to have keyboard*/
  }
}
@media only screen and (max-width: 765px){
  header{
    padding: 5px;
  }
  header h1{
    font-size: 32px;
  }
  header h2{
    font-size: 18px;
    line-height: 0.8em;
    margin-bottom: 5px;
  }
  header #mainChar{
    margin: 0 4px 0 4px;
  }
  header svg{
    width: 150px;
    height: 100px;
  }
  #help{
    width: auto;
    top: auto;
    right: auto;
    margin: 4px 0 4px 4px;
  }
  #help div:first-child{
    height: 8px;
  }
  #helpText{
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
    background: #eee;
  }
  aside{
    display: none; /* Small screens less likely to have keyboard*/
  }
  section{
    margin: 10px 0 10px 0;
  }
  section#calculator .container{
    margin: 0 10px 0 10px;
    border: solid gray 1px;
    border-radius: 10px;
  }
  section#calculator #display{
    width: 320px;
    padding: 0;
    margin: 0 auto 5px auto;
  }
  section#calculator #display #history{
    height: 20px;
    font-size: 16px;
  }
  section#calculator #display #result{
    height: 38px;
    font-size: 27px;
  }
  section#calculator button{
    width: 73px;
    height: 40px;
    padding: 0;
    margin: 2px;
    font-size: 24px;
  }
  section#calculator button#clear{
    width: 154px;
  }
}
@media only screen and (max-width: 320px){
  section#calculator #display{
    width: 286px;
  }
  section#calculator #display #history{
    height: 18px;
    font-size: 16px;
  }
  section#calculator #display #result{
    height: 36px;
    font-size: 24px;
  }
  section#calculator button{
    width: 64px;
  }
  section#calculator button#clear{
    width: 136px;
  }
}
