body{
  text-align: center;
  color: black;
  font-family: 'Muli', sans-serif;
  font-family: 'Encode Sans Expanded', sans-serif;
  background: white;
  margin: 0;
}
a {
  text-decoration: none;
  color: #007207; /* dark green */
}
a:hover{
  color: #02cc0e;  /* light green */
}
header{
  margin: 0;
  padding: 10px 0 10px 0;
  background: lightgray;
}
h1, h2, h3{
  font-family: 'Exo 2', sans-serif;
}
header h1{
  font-size: 4em;
  margin: 0;
}
header h2{
  font-size: 1.4em;
  margin-top: -0.4em;
}
header svg path{
  fill: black;
}
header svg path:hover{
  fill: #007207;
}
section{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  margin: 10px;
  font-family: 'Oxygen', sans-serif;
}

/* Mobile responsiveness */
@media only screen and (min-width: 1060px) {

}
@media only screen and (max-width: 768px) {
  body{
    margin: 0;
  }
}
@media only screen and (max-width: 620px) {
  header{
    padding: 20px 0 20px 0;
  }
  header h1{
    font-size: 3em;
  }
  header h2{
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 500px){
  header{
    padding: 25px;
  }
  header h1{
    line-height: 0.8em;
    margin-bottom: 10px;
  }
  header h2{
    width: 270px;
    margin: 0 auto 0 auto;
  }
}
